{% if userSkills is defined and userSkills is not null  and userSkills|length > 0%}
    <div class="col-sm-6">
        <h4>{{ 'title.skills'|trans }}</h4>
        <table class="table table-condensed">
            {% for userSkill in userSkills %}
                {% set userEndorsedItem = false %}
                {% for endorse in userSkill.userSkillEndorsers %}
                    {% if endorse.endorser.id == app.user.id %}
                        {% set userEndorsedItem = true %}
                    {% endif %}
                {% endfor %}
                <tr>
                    <th>
                        <a class="btn btn-primary {% if userEndorsedItem == false %}skill-item{% endif %} btn-sm"
                                {% if isCurrentUser == false %}
                                    data-name="{{ userSkill.skill.name }}"
                                    {% if userEndorsedItem == false %}
                                        href="{{ path('user_endorsement_endorse_user', {id: userSkill.id}) }}"
                                    {% endif %}
                                {% endif %}
                        >
                            <span class="skill-item-name">{{ userSkill.skill.name }}</span> <span
                                    class="badge">{{ userSkill.endorsementCount }}</span>
                        </a>
                    </th>
                    <th>
                        {% for endorse in userSkill.userSkillEndorsers %}
                            <a href="{{ path('vipa_user_profile', {slug: endorse.endorser.username}) }}">
                                <img
                                        {% if endorse.endorser.avatar is not null %}
                                            class="img-circle"
                                        {% else %}
                                            class="img-circle" src="{{ asset('assets/app/images/buddy_sample.png') }}"
                                        {% endif %}
                                        height="20" width="20"
                                        src="{% if endorse.endorser.avatar %}{{ endorse.endorser.avatar|imagine_filter('user_croped') }}{% endif %}"/>
                            </a>
                        {% endfor %}
                    </th>
                </tr>
            {% endfor %}
        </table>
    </div>

    {% if isCurrentUser == false %}
        <script>
            $(function () {
                $('.skill-item').each(function () {
                    $(this).hover(
                            function () {
                                $(this).removeClass('btn-primary').addClass('btn-warning');
                                $(this).find('.skill-item-name').html('{{ "skills.endorse"|trans }}');
                            }, function () {
                                $(this).removeClass('btn-warning').addClass('btn-primary');
                                $(this).find('.skill-item-name').html($(this).attr('data-name'));
                            }
                    );
                });
            });
        </script>
    {% endif %}
{% endif %}